[flake8]
max-line-length=120
extend-ignore =
    D105
    D107
    D100
    D104
    E203
    E712
    E713
    D401
    F811
    ANN002
    ANN003
    ANN101
    ANN102
exclude =
    docs/source/*
    tests/*
suppress-none-returning=True
suppress-dummy-args=True
